@import 'bootstrap';

* {
  /* box-sizing: border-box; // Handled by Bootstrap */
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  color: #212121;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
